*{
    /* * is a universal selector */
    margin:0%;
    padding:0%;
}
html,body{
    height:100%;
    width:100%;
}

body{
    /* display:flex;
    align-items: center;
    justify-content: center; */
}
#main{
    display:flex;
    align-items: center;
    justify-content: center;
    height:100%;
    width:100%;
    background-color: aquamarine;
}

.shape{
    margin:40px;
    display:flex;
    align-items: center;
    justify-content:center;
    width:200px;
    height:200px;
    background-color: aliceblue;
    border: 2px solid black;
}


#circle{
    border-radius: 50%;
}
#diamond{
    height:141.4px;
    width:141.4px;
    margin-top: 60px;
    rotate: 45deg;
    translate:35px;
}
#diamond h1{
    rotate:-45deg;
}
#square:hover{
/* pseudo selectors to perform following actions only when hovering over that shape */
background-color:crimson;
h1{
    color:white;
    rotate:30deg;
}
}

#diamond:hover{
    background-color:burlywood;
    h1{
        color:white;
        rotate:30deg;
    }
    
}

#circle:hover{
    background-color:darkorchid;
    h1{
        color:white;
        rotate:30deg;
    }
}